%% -*- mode: erlang; -*-

{erl_opts, [fail_on_warning,
            debug_info,
            warn_unused_vars,
            warn_unused_import,
            warn_exported_vars,
            {parse_transform, lager_transform}]}.

{cover_enabled, true}.
{deps, [{lager, ".*", {git, "https://github.com/basho/lager.git", {tag, "2.0.0"}}}]}.
{cover_print_enabled, true}.
