%% -*- mode: erlang; -*-

{erl_opts, [fail_on_warning, debug_info, warn_unused_vars, warn_unused_import, warn_exported_vars]}.
{deps, [{cowboy, ".*", {git, "git://github.com/Vagabond/cowboy.git", "HEAD"}},
				{iconv, ".*", {git, "git://github.com/Vagabond/iconv.git", "HEAD"}}]}.
{cover_enabled, true}.
{cover_print_enabled, true}.
