%% -*- mode: erlang; -*-
{require_min_otp_vsn, "R16"}.

{erl_opts, [fail_on_warning,
           debug_info,
           warn_unused_vars,
           warn_unused_import,
           warn_exported_vars,
           {platform_define, "^((1[89])|2)", deprecated_now}]}.

{profiles,
 [
  {test,
   [
    {cover_enabled, true},
    {cover_print_enabled, true},
    {deps, [
      {eiconv, "1.0.0-alpha1"}
    ]}
   ]}
 ]}.
