# Build gen-smtp on various OTP versions

name: CI
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  ci:
    name: Run checks and tests over ${{matrix.otp_vsn}} and ${{matrix.os}}
    runs-on: ${{matrix.os}}

    strategy:
      matrix:
        otp_vsn: [20.3, 21.3, 22.3, 23.1]
        os: [ubuntu-latest]

    container:
      image: erlang:${{matrix.otp_vsn}}

    steps:
      - uses: actions/checkout@v2
      - name: xref
        run: make xref
      - name: Test
        run: make test
      - name: Proper
        run: make proper
      - name: Cover
        run: make cover
      - name: Dialyze
        run: make dialyze
